<p id="notice"><%= notice %></p>

<h1>Tutionships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tution class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutionships.each do |tutionship| %>
      <tr>
        <td><%= tutionship.user_id %></td>
        <td><%= tutionship.tution_class_id %></td>
        <td><%= link_to 'Show', tutionship %></td>
        <td><%= link_to 'Edit', edit_tutionship_path(tutionship) %></td>
        <td><%= link_to 'Destroy', tutionship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutionship', new_tutionship_path %>
